html, body {
    margin: 0px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

::selection {
    background-color: #777777;
    color: #ffffff;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0px 0px 10px 10px;
    background-color: #444444;
}

.site-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    vertical-align: center;
}

header nav {
    padding: 10px 0px 10px 0px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
    gap: 5px;
    margin: 0px;
}

header a {
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    text-decoration: none;
    text-align: center;

    padding: 10px;
}

header li:hover {
    background-color: #555555;
}

header li {
    height: 20px;
    align-content: center;
}

.social-box {
    display: flex;
    flex-direction: row;
}

.social img {
    height: 20px;
    width: 20px;
}

.active {
    text-decoration: underline;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px 10px 0px 0px;
    background-color: #444444;

    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

/* część główna */
.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 90%;
    background-color: #cccccc;
    border-color: transparent;
    border-radius: 10px;
    padding: 10px;

    color: #444444;
    font-family: Verdana;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.component-title {
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.component-content {
    display: none;
}

.component.active .component-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.component-image {
    width: 90%;
    margin-top: 10px;
}

.component-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.component-desc {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* średnie ekrany */
@media (min-width: 750px) {
    /* header */
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    .nav-menu {
        flex-direction: row;
    }
    header li {
        height: 30px;
    }
    .social img {
        height: 30px;
        width: 30px;
    }

    /* projekty */
    .component.active .component-content {
        flex-direction: row;
        vertical-align: middle;
        justify-content: space-between;
    }
    .component-image {
        width: 40%;
    }
}

/* duże ekrany */
@media (min-width: 1000px) {
    .site-title {
        font-size: 30px;
    }
    header a {
        font-size: 20px;
    }

    /* projekty */
    .component-title {
        font-size: 25px;
    }
    .component-image {
        width: 30%;
    }
    .component-desc {
        font-size: 18px;
    }
}